{% extends "bootstrap/base.html" %}
{% block metas %}
{{ super() }}
<meta charset="UTF-8">
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename="jquery-ui/jquery-ui.min.js") }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.1/nv.d3.min.js"></script>
{{ moment.include_moment() }}
{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='jquery-ui/jquery-ui.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='jquery-ui/jquery-ui.structure.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='jquery-ui/jquery-ui.theme.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.1/nv.d3.css">
{% endblock %}

{% block title %}DMS App{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
                data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">หน้าหลัก</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {# <li><a href="/"></a></li> #}
                <li><a href="/form_1/">กรอกข้อมูล
                {% if current_user.verified %}
                <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                {% else %}
                <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
                {% endif %}
                </a></li>
                <li><a href="/view/all/">ข้อมูลทั้งหมด</a></li>
                <li><a href="/viz/">กราฟข้อมูล</a></li>
                <li><a href="/your_account">บัญชีของคุณ</a></li>
                <li><a href="/admin">Admin</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated() %}
                <li><a href="{{ url_for('auth.logout') }}">Sign Out</a></li>
                {% else %}
                <li><a href="{{ url_for('auth.login') }}">Sign In</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}
</div>
{% endblock %}
