{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{# {% assets "jquery/jquery-1.11.3.min.js", "jquery-ui/jquery-ui.js" %} #}
{# <script type="text/javascript" src="{{ ASSET_URL }}"></script> #}
{# {% endassets %} #}

{% block scripts %}
{{ super() }}
<script src="{{ url_for("static", filename="jquery-ui/datepicker-th.js") }}"></script>
<script>
$(function() {
        $("#datepicker").datepicker($.datepicker.regional['th']);
        $('#marital').change(function() {
            if ($(this).val() === 'other') {
                $('#marital-reason').prop('disabled', false).prop('required', true)
                } else {
                $('#marital-reason').prop('disabled', true).prop('required', false)
                }
            });
        $('#edu').change(function() {
            if ($(this).val() === 'other') {
                $('#edu-other').prop('disabled', false).prop('required', true)
                $('#edu-years').prop('disabled', false).prop('required', true)
                }
            else if ($(this).val() === 'none') {
                $('#edu-years').prop('disabled', true).prop('required', false)
                $('#edu-other').prop('disabled', true).prop('required', false)
                }
            else {
                $('#edu-years').prop('disabled', false).prop('required', true)
                }
            });
        $('#living').change(function() {
                if ($(this).val() === 'caretaker') {
                    $('#living-caretaker').prop('disabled', false).prop('required', true)
                    $('#living-other').prop('disabled', true).prop('required', false)
                }
                else if ($(this).val() === 'other') {
                    $('#living-caretaker').prop('disabled', true).prop('required', false)
                    $('#living-other').prop('disabled', false).prop('required', true)
                }
                else {
                    $('#living-caretaker').prop('disabled', true).prop('required', false)
                    $('#living-other').prop('disabled', true).prop('required', false)
                }
            });
        $('#smoking').change(function() {
                console.log($(this).val())
                if($(this).val() === 'yes') {
                    $('#smokingfreq').show();
                    $('#smokingfreq-label').show();
                    $('#smokeperweek-label').show();
                    $('#smokeperweek').show();

                    $('#smokeyears-label').hide()
                    $('#smokeyears').hide();
                    $('#quitsmokeyears-label').hide()
                    $('#quitsmokeyears').hide()
                } else if ($(this).val() === 'quit') {
                    $('#smokingfreq').hide();
                    $('#smokingfreq-label').hide();
                    $('#smokeperweek-label').hide();
                    $('#smokeperweek').hide();

                    $('#smokeperday-label').show();
                    $('#smokeperday').show();
                    $('#smokeyears-label').show()
                    $('#smokeyears').show();
                    $('#quitsmokeyears-label').show()
                    $('#quitsmokeyears').show()
                } else {
                    $('#smokingfreq').hide();
                    $('#smokingfreq-label').hide();
                    $('#smokeperday').hide();
                    $('#smokeperday-label').hide();
                    $('#smokeperweek').hide();
                    $('#smokeperweek-label').hide();

                    $('#smokeyears-label').hide()
                    $('#smokeyears').hide();
                    $('#quitsmokeyears-label').hide()
                    $('#quitsmokeyears').hide()
                }
            });
        $('#smokingfreq').change(function() {
                if($(this).val() === 'sometimes') {
                    $('#smokeperweek-label').show();
                    $('#smokeperweek').show();
                    $('#smokeperday-label').hide();
                    $('#smokeperday').hide();
                
                } else {
                    $('#smokeperweek-label').hide();
                    $('#smokeperweek').hide();
                    $('#smokeperday-label').show();
                    $('#smokeperday').show();
                }
            });
        });
</script>
{% endblock %}

{% block title %}แบบประเมิน/คัดกรอกผู้สูงอายุ{% endblock %}

{% block page_content %}
<div class="container">
    {% if current_user.verified %}
    <div class="page-header">
        <div class="panel panel-default">
            <div class="panel panel-heading"><h4><strong>ข้อมูลผู้กรอกแบบประเมิน</strong></h4></div>
            <div class="panel-body">
                <p><strong>รหัสบัตรประชาชน: </strong>{{ current_user.username }}
                <strong>ชื่อ: </strong>{{ current_user.title }} {{ current_user.name }} {{ current_user.lastname }}</p>
                <p><strong>ตำแหน่ง: </strong>{{ current_user.position }}
                <strong>หน่วยงาน: </strong>{{ current_user.org }}
                <strong>จังหวัด: </strong>{{ current_user.province }}</p>
            </div>
        </div>
    </div>
        <div class="panel panel-default">
            <div class="panel panel-heading"><h4><strong>วันที่เก็บข้อมูล</strong></h4></div>
            <div class="panel-body">
                <label class="control-label" for="datepicker">โปรดเลือกวันที่เก็บข้อมูล </label>
                <input type="text" id="datepicker">
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel panel-heading"><h4><strong>แบบสัมภาษณ์ข้อมูลส่วนบุคคล</strong></h4></div>
            <div class="panel-body">
                <label class="control-label" for="age">อายุ </label> <input type="text" id="age">
                <label class="control-label" for="gender">เพศ </label> <select id="gender">
                    <option value="male">ชาย</option>
                    <option value="female">หญิง</option>
                    <option value="">ไม่ระบุ</option>
                </select>
                <br>
                <label class="control-label" for="marital">สถานภาพสมรส </label> <select id="marital">
                    <option value="married">แต่งงานแล้ว</option>
                    <option value="widow">หม้าย</option>
                    <option value="divorce">หย่าร้าง/แยกทาง</option>
                    <option value="single">โสด</option>
                    <option value="other">อื่นๆ</option>
                </select>
                <label for="marital-reason" class="control-label">อื่นๆ โปรดระบุ</label>
                <input type="text" disabled id="marital-reason"></input>
                <br>
                <label class="control-label" for="edu">ระดับการศึกษา </label> <select id="edu">
                    <option value="none">ไม่ได้รับการศึกษา</option>
                    <option value="elementary">ประถมศึกษา</option>
                    <option value="middleschool">มัธยมต้น</option>
                    <option value="highschool">มัธยมปลาย</option>
                    <option value="diploma">อนุปริญญา</option>
                    <option value="bachelor">ปริญญาตรี</option>
                    <option value="higherbachelor">สูงกว่าปริญญาตรี</option>
                    <option value="other">อื่นๆ</option>
                </select>
                <label for="edu-other" class="control-label">อื่นๆ โปรดระบุ</label>
                <input disabled type="text" id="edu-other"></input>
                <label for="edu-years" class="control-label">รวมจำนวนปีที่ได้รับการศึกษา</label>
                <input disabled type="text" id="edu-years"></input>
                <br>
                <label class="control-label" for="living">การพักอาศัย</label> <select id="living">
                    <option value="single">คนเดียว</option>
                    <option value="couple">คู่ครอง</option>
                    <option value="family">ครอบครัว/บุตรหลาน</option>
                    <option value="caretaker">อยู่กับผู้ดูแล</option>
                    <option value="other">อื่นๆ</option>
                </select>
                <label for="living-caretaker" class="control-label">มีผู้ดูแลโปรดระบุ</label>
                <input disabled type="text" id="living-caretaker"></input>
                <label for="living-other" class="control-label">อื่นๆ โปรดระบุ</label>
                <input disabled type="text" id="living-other"></input>
                <br>
                <label class="control-label" for="income">ท่านคิดว่ามีรายได้เพียงพอในครอบครัว</label> <select id="income">
                    <option value="excess">เหลือเก็บ</option>
                    <option value="enough">กำลังพอดี</option>
                    <option value="notenough">ไม่เพียงพอ</option>
                </select>
                <br>
                <label class="control-label" for="elderclub">การเป็นสมาชิกชมรมผู้สูงอายุและอื่นๆ</label> <select id="elderclub">
                    <option value="yes">เป็น</option>
                    <option value="no">ไม่เป็น</option>
                </select>
                <br>
                <label class="control-label" for="healthstatus">ความรู้สึกต่อสุขภาพตัวเองโดยรวม</label> <select id="healthstatus">
                    <option value="excellent">ดีเยี่ยม</option>
                    <option value="verygood">ดีมาก</option>
                    <option value="good">ดี</option>
                    <option value="bad">แย่</option>
                    <option value="verybad">แย่มาก</option>
                </select>
                <br>
                <label class="control-label" for="smoking">การสูบบุหรี่/ยาสูบ</label> <select id="smoking">
                    <option value="no">ไม่เคยสูบเลย</option>
                    <option value="yes">ปัจจุบันยังสูบ</option>
                    <option value="quit">เคยสูบ(ตอนนี้เลิกแล้ว)</option>
                </select>
                <label class="control-label" for="smokingfreq" style="display:none" id="smokingfreq-label">การสูบบุหรี่/ยาสูบ</label>
                <select id="smokingfreq" style="display:none">
                    <option value="sometimes">บางครั้ง</option>
                    <option value="daily">ทุกวัน</option>
                </select>
                <label class="control-label" for="smokeperweek" style="display:none" id="smokeperweek-label">จำนวน (มวนต่อสัปดาห์)</label>
                <input type="text" id="smokeperweek" style="display:none"></input>
                <label class="control-label" for="smokeperday" style="display:none" id="smokeperday-label">จำนวน (มวนต่อวัน)</label>
                <input type="text" id="smokeperday" style="display:none"></input>
                <label class="control-label" for="smokeyears" style="display:none" id="smokeyears-label">เป็นเวลา (ปี)</label>
                <input type="text" id="smokeyears" style="display:none"></input>
                <label class="control-label" for="quitsmokeyears" style="display:none" id="quitsmokeyears-label">เลิกมา (ปี)</label>
                <input type="text" id="quitsmokeyears" style="display:none"></input>
            </div>
        </div>
    {% else %}
        <div class="panel panel-default">
            <div class="panel panel-heading"><h4><strong>ขออภัย</strong></h4></div>
            <div class="panel-body">
                <p>บัญชีของท่านยังไม่ผ่านการตรวจสอบจึงไม่สามารถกรอกข้อมูลได้ในขณะนี้</p>
                <p>โปรดรอให้บัญชีของท่านได้รับการยืนยันจากเจ้าหน้าที่ดูแลระบบก่อน</p>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}
