{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for("static", filename="jquery-ui/datepicker-th.js") }}"></script>
<script>
$(function() {
        $("#datepicker").datepicker($.datepicker.regional['th']);
        $('label[for=smoke_freq], select#smoke_freq').hide();
        $('label[for=smoke_per_week], input#smoke_per_week').hide();
        $('label[for=smoke_per_day], input#smoke_per_day').hide();
        $('label[for=smoke_years], input#smoke_years').hide();
        $('label[for=quit_smoke_years], input#quit_smoke_years').hide()
        $('label[for=congenital_dis_years], input#congenital_dis_years').hide();
        $('#congenital_dis_other').prop('disabled', true);

        $('#marital').change(function() {
            if ($(this).val() === 'other') {
                $('#marital_other').prop('disabled', false).prop('required', true)
                } else {
                $('#marital_other').prop('disabled', true).prop('required', false)
                }
            });
        $('#edu').change(function() {
            if ($(this).val() === 'other') {
                $('#edu_other').prop('disabled', false).prop('required', true)
                $('#edu_years').prop('disabled', false).prop('required', true)
                }
            else if ($(this).val() === 'none') {
                $('#edu_years').prop('disabled', true).prop('required', false)
                $('#edu_other').prop('disabled', true).prop('required', false)
                }
            else {
                $('#edu_years').prop('disabled', false).prop('required', true)
                }
            });
        $('#living').change(function() {
                if ($(this).val() === 'caregiver') {
                    $('#living_caregiver').prop('disabled', false).prop('required', true)
                    $('#living_other').prop('disabled', true).prop('required', false)
                }
                else if ($(this).val() === 'other') {
                    $('#living_caregiver').prop('disabled', true).prop('required', false)
                    $('#living_other').prop('disabled', false).prop('required', true)
                }
                else {
                    $('#living_caregiver').prop('disabled', true).prop('required', false)
                    $('#living_other').prop('disabled', true).prop('required', false)
                }
            });
        $('#smoking').change(function() {
                console.log($(this).val())
                if($(this).val() === 'yes') {
                    $('label[for=smoke_freq], select#smoke_freq').show();
                    $('label[for=smoke_per_week], input#smoke_per_week').show();

                    $('label[for=smoke_years], input#smoke_years').hide();
                    $('label[for=quit_smoke_years], input#quit_smoke_years').hide()
                } else if ($(this).val() === 'quit') {
                    $('label[for=smoke_freq], select#smoke_freq').hide();
                    $('label[for=smoke_per_week], input#smoke_per_week').hide();

                    $('label[for=smoke_per_day], input#smoke_per_day').show();
                    $('label[for=smoke_years], input#smoke_years').show();
                    $('label[for=quit_smoke_years], input#quit_smoke_years').show()
                } else {
                    $('label[for=smoke_freq], select#smoke_freq').hide();
                    $('label[for=smoke_per_day], input#smoke_per_day').hide();
                    $('label[for=smoke_per_week], input#smoke_per_week').hide();

                    $('label[for=smoke_years], input#smoke_years').hide();
                    $('label[for=quit_smoke_years], input#quit_smoke_years').hide()
                }
            });
        $('#smoke_freq').change(function() {
                if($(this).val() === 'sometimes') {
                    $('label[for=smoke_per_week], input#smoke_per_week').show();
                    $('label[for=smoke_per_day], input#smoke_per_day').hide();
                } else {
                    $('label[for=smoke_per_week], input#smoke_per_week').hide();
                    $('label[for=smoke_per_day], input#smoke_per_day').show();
                }
            });
        $('#alcohol').change(function() {
                if($(this).val() === 'daily') {
                    $('label[for=drink_per_day], input#drink_per_day').show();
                    $('label[for=drink_years], input#drink_years').hide();
                    $('label[for=quit_drink_years], input#quit_drink_years').hide();
                } else if ($(this).val() === 'quit') {
                    $('label[for=drink_per_day], input#drink_per_day').show();
                    $('label[for=drink_years], input#drink_years').show();
                    $('label[for=quit_drink_years], input#quit_drink_years').show();
                } else {
                    $('label[for=drink_per_day], input#drink_per_day').hide();
                    $('label[for=drink_years], input#drink_years').hide();
                    $('label[for=quit_drink_years], input#quit_drink_years').hide();
                }
            });
        $('#congenital_disease').change(function() {
                if ($(this).val() === 'other') {
                        $('#congenital_dis_other').prop('disabled', false);
                } else {
                        $('#congenital_dis_other').prop('disabled', true);
                }
                if ($(this).val() === 'none') {
                    $('label[for=congenital_dis_years], input#congenital_dis_years').hide();
                } else {
                    $('label[for=congenital_dis_years], input#congenital_dis_years').show();
                }
            });
        });
</script>
{% endblock %}

{% block title %}แบบประเมิน/คัดกรอกผู้สูงอายุ{% endblock %}

{% block page_content %}
<div class="container">
    {% if current_user.verified %}
    <div class="page-header">
        <div class="panel panel-default">
            <div class="panel panel-heading"><h4><strong>ข้อมูลผู้กรอกแบบประเมิน</strong></h4></div>
            <div class="panel-body">
                <p><strong>รหัสบัตรประชาชน: </strong>{{ current_user.username }}
                <strong>ชื่อ: </strong>{{ current_user.title }} {{ current_user.name }} {{ current_user.lastname }}</p>
                <p><strong>ตำแหน่ง: </strong>{{ current_user.position }}
                <strong>หน่วยงาน: </strong>{{ current_user.org }}
                <strong>จังหวัด: </strong>{{ current_user.province }}</p>
            </div>
        </div>
    </div>
        <div class="panel panel-default">
            <div class="panel panel-heading"><h4><strong>วันที่เก็บข้อมูล</strong></h4></div>
            <div class="panel-body">
                <label class="control-label" for="datepicker">โปรดเลือกวันที่เก็บข้อมูล </label>
                <input type="text" id="datepicker">
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel panel-heading"><h4><strong>แบบสัมภาษณ์ข้อมูลส่วนบุคคล</strong></h4></div>
            <div class="panel-body">
                <table class="table table-hover table-bordered">
                    <tr><td>
                        {{ form.gender.label }} {{ form.gender() }}
                        {{ form.marital.label }} {{ form.marital() }}
                        {{ form.marital_other.label }} {{ form.marital_other(disabled=True) }}
                    </td></tr>
                    <tr><td>
                        {{ form.edu.label }} {{ form.edu() }}
                        {{ form.edu_other.label }} {{ form.edu_other(disabled=True) }}
                        {{ form.edu_years.label }} {{ form.edu_years(disabled=True) }}
                    </td></tr>
                    <tr><td>
                        {{ form.living.label }} {{ form.living() }}
                        {{ form.living_caregiver.label }} {{ form.living_caregiver(disabled=True) }}
                        {{ form.living_other.label }} {{ form.living_other(disabled=True) }}
                    </td></tr>
                    <tr><td>
                        {{ form.income.label }} {{ form.income() }}
                    </td></tr>
                    <tr><td>
                        {{ form.elder_club.label }} {{ form.elder_club() }}
                    </td></tr>
                    <tr><td>
                        {{ form.health_status.label }} {{ form.health_status() }}
                    </td></tr>
                    <tr><td>
                        {{ form.smoking.label }} {{ form.smoking() }}
                        {{ form.smoke_freq.label }} {{ form.smoke_freq() }}
                        {{ form.smoke_per_week.label }} {{ form.smoke_per_week() }}
                        {{ form.smoke_per_day.label }} {{ form.smoke_per_day() }}
                        {{ form.smoke_years.label }} {{ form.smoke_years() }}
                        {{ form.quit_smoke_years.label }} {{ form.quit_smoke_years() }}
                    </td></tr>
                    <tr><td>
                        {{ form.alcohol.label }} {{ form.alcohol() }}
                        {{ form.drink_per_day.label }} {{ form.drink_per_day() }}
                        {{ form.drink_years.label }} {{ form.drink_years() }}
                        {{ form.quit_drink_years.label }} {{ form.quit_drink_years() }}
                    </td></tr>
                    <tr><td>
                        {{ form.congenital_disease.label }} {{ form.congenital_disease() }}
                    </td></tr>
                    <tr><td>
                        {{ form.congenital_dis_other.label }} {{ form.congenital_dis_other() }}
                    </td></tr>
                    <tr><td>
                        {{ form.congenital_dis_years.label }} {{ form.congenital_dis_years() }}
                    </td></tr>
                </table>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel panel-heading"><h4><strong>ค่าความดันโลหิต</strong></h4></div>
            <div class="panel-body">
                <table class="table table-hover">
                    <tr><td>
                            {{ form.systolic.label }} {{ form.systolic() }}
                    </td></tr>
                    <tr><td>
                            {{ form.diastolic.label }} {{ form.diastolic() }}
                    </td></tr>
                </table>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel panel-heading"><h4><strong>การคัดกรองความเสี่ยงต่อโรคหัวใจและหลอดเลือดสมอง</strong></h4></div>
            <div class="panel-body">
                <table class="table table-hover">
                    <tr><td>
                        {{ form.smoke_screening.label }}
                    </td><td class="success col-md-2">
                        {{ form.smoke_screening() }}
                    </td></tr>
                    <tr><td>
                        {{ form.bp.label }}
                    </td><td class="success col-md-2">
                        {{ form.bp() }}
                    </td></tr>
                    <tr><td>
                        {{ form.fpg.label }}
                    </td><td class="success col-md-2">
                        {{ form.fpg() }}
                    </td></tr>
                    <tr><td>
                        {{ form.abnormal_lipid.label }}
                    </td><td class="success col-md-2">
                        {{ form.abnormal_lipid() }}
                    </td></tr>
                    <tr><td>
                        {{ form.waist.label }}
                    </td><td class="success col-md-2">
                        {{ form.waist() }}
                    </td></tr>
                    <tr><td>
                        {{ form.infarction.label }}
                    </td><td class="success col-md-2">
                        {{ form.infarction() }}
                    </td></tr>
                    <tr><td>
                        {{ form.family_infarction.label }}
                    </td><td class="success col-md-2">
                        {{ form.family_infarction() }}
                    </td></tr>
                </table>
            </div>
        </div>
    {% else %}
        <div class="panel panel-default">
            <div class="panel panel-heading"><h4><strong>ขออภัย</strong></h4></div>
            <div class="panel-body">
                <p>บัญชีของท่านยังไม่ผ่านการตรวจสอบจึงไม่สามารถกรอกข้อมูลได้ในขณะนี้</p>
                <p>โปรดรอให้บัญชีของท่านได้รับการยืนยันจากเจ้าหน้าที่ดูแลระบบก่อน</p>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}
