{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Main Page{% endblock %}

{% block page_content %}
<div class="container">
    <div class="page-header">
        <div class="jumbotron">
        <p><h1><small>สถาบันเวชศาสตร์ผู้สูงอายุ</small></h1></p>
        <p><h1>ระบบเทคโนโลยีสารสนเทศเพื่อพัฒนาฐานข้อมูลผู้สูงอายุ</h1></p>
        <p><h2>Thai Elderly Information System (TEIS)</h2><h3>Version 0.9beta</h3></p>
        <p><small>พัฒนาโดยความร่วมมือกับคณะเทคนิคการแพทย์ มหาวิทยาลัยมหิดล</small></p>
        {% if current_user.is_authenticated() %}
            {% if current_user.verified %}
                <a class="btn btn-primary btn-lg" href="{{ url_for('.form_1') }}" role="button">คลิกเพื่อกรอกข้อมูล</a></p>
                {# <p><h3>หรือเลือกการใช้งานอื่นๆ จากเมนูด้านบน</h3></p> #}
            {% else %}
                <p><span class="label label-danger">ท่านยังไม่สามารถกรอกข้อมูลได้ในขณะนี้</span></p>
            {% endif %}
        {% else %}
                <p><a class="btn btn-primary btn-lg" href="{{ url_for('auth.login') }}" role="button">ลงทะเบียนเข้าใช้</a>
                <a class="btn btn-success btn-lg" href="{{ url_for('auth.register') }}" role="button">สมัครสมาชิก</a></p>

        {% endif %}
        </div>
    </div>
</div>
{% endblock %}
