{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
<style>
    text {
        font: 16px sans-serif;
    }

    svg {
        display: block;
    }

    .testBlock {
        display: block;
        float: left;
        height: 300px;
        width: 300px;
    }

    html, body, #chart1, #chart2, svg {
        margin: 0px;
        padding: 0px;
        height: 100%;
        width: 100%;
    }
</style>
{% endblock styles %}

{% block scripts %}
{{ super() }}
<script>
var piedata = {{ piedata|tojson|safe }}

    var width = 300;
    var height = 300;
    nv.addGraph(function() {
        var chart = nv.models.pie()
                .x(function(d) { return d.key; })
                .y(function(d) { return d.y; })
                .width(width)
                .height(height)
                .labelType(function(d, i, values) {
                    return values.key + ':' + values.value;
                })
                ;
        d3.select("#test1")
                .datum([piedata])
                .transition().duration(1200)
                .attr('width', width)
                .attr('height', height)
                .call(chart);
        return chart;
    });
    nv.addGraph(function() {
        var chart = nv.models.pie()
                .x(function(d) { return d.key; })
                .y(function(d) { return d.y; })
                .width(width)
                .height(height)
                .labelType('percent')
                .valueFormat(d3.format('%'))
                .donut(true);
        d3.select("#test2")
                .datum([piedata])
                .transition().duration(1200)
                .attr('width', width)
                .attr('height', height)
                .call(chart);
        return chart;
    });
</script>
<script>
    var boxplotdata = {{ boxplotdata|tojson|safe }};
    nv.addGraph(function() {
        var bpchart = nv.models.boxPlotChart()
            .x(function(d) { return d.label })
            .y(function(d) { return d.values.Q3 })
            .width(700)
            .staggerLabels(false)
            .maxBoxWidth(75) // prevent boxes from being incredibly wide
            .yDomain([50, 100])

        bpchart.yAxis.axisLabel("อายุ").tickFormat(d3.format(',d'));

        d3.select('#chart1 svg')
            .datum(boxplotdata)
            .attr('width', 800)
            .attr('height', 400)
            .call(bpchart);

        nv.utils.windowResize(bpchart.update);
        return bpchart;
    });
</script>

{% endblock scripts %}

{% block page_content %}
<div class="container">
    <div class="page-header">
        <h1>กราฟแสดงผลต่างๆ ของผู้สูงอายุในจังหวัด</h1>
    </div>
    <div class="row">
        <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        เลือกหัวข้ออื่น <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="{{ url_for('main.age_viz', year='all') }}">ข้อมูลเพศและอายุ</a></li>
            <li><a href="{{ url_for('main.longterm_viz', year='all') }}">ผลคัดกรองผู้ต้องการดูแลในระยะยาว</a></li>
            <li><a href="{{ url_for('main.knee_viz', year='all') }}">ผลการคัดกรองโรคข้อเข่าเสื่อม</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{{ url_for('main.mmse_viz', year='all') }}">ผลการคัดกรองสมองเสื่อม</a></li>
        </ul>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                เลือกปี <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="{{ url_for('main.age_viz', year='2012') }}">2012</a></li>
                <li><a href="{{ url_for('main.age_viz', year='2013') }}">2013</a></li>
                <li><a href="{{ url_for('main.age_viz', year='2014') }}">2014</a></li>
                <li><a href="{{ url_for('main.age_viz', year='2015') }}">2015</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <h3>จำนวนผู้สูงอายุแบ่งตามเพศจำนวน {{ total }} คน</h3>
        {% if year != 'all' %}
        <h3>ปี {{ year }}</h3>
        {% else %}
        <h3>ทุกปี</h3>
        {% endif %}
        <div class="testBlock"><svg id="test1"></svg></div>
        <div class="testBlock"><svg id="test2"></svg></div>
    </div>
    <div class="row">
        <h3>ข้อมูลอายุแบ่งตามเพศจำนวน {{ total }} คน</h3>
        <h3>จำนวนผู้สูงอายุทั้งหมด {{ total }} คน</h3>
        {% if year != 'all' %}
        <h3>ปี {{ year }}</h3>
        {% else %}
        <h3>ทุกปี</h3>
        {% endif %}
        <div class="gallery" id="chart1"><svg></svg></div>
    </div>
    <div class="row">
    </div>
</div>
{% endblock page_content %}
