{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
<style>
    text {
        font: 16px sans-serif;
    }

    svg {
        display: block;
    }

    .testBlock {
        display: block;
        float: left;
        height: 300px;
        width: 300px;
    }

    html, body, #chart1, #chart2, svg {
        margin: 0px;
        padding: 0px;
        height: 100%;
        width: 100%;
    }
</style>
{% endblock styles %}

{% block scripts %}
{{ super() }}
<script>
var piedata = {{ piedata|tojson|safe }}

    var width = 300;
    var height = 300;
    nv.addGraph(function() {
        var chart = nv.models.pie()
                .x(function(d) { return d.key; })
                .y(function(d) { return d.y; })
                .width(width)
                .height(height)
                .labelType(function(d, i, values) {
                    return values.key + ':' + values.value;
                })
                ;
        d3.select("#test1")
                .datum([piedata])
                .transition().duration(1200)
                .attr('width', width)
                .attr('height', height)
                .call(chart);
        return chart;
    });
    nv.addGraph(function() {
        var chart = nv.models.pie()
                .x(function(d) { return d.key; })
                .y(function(d) { return d.y; })
                .width(width)
                .height(height)
                .labelType('percent')
                .valueFormat(d3.format('%'))
                .donut(true);
        d3.select("#test2")
                .datum([piedata])
                .transition().duration(1200)
                .attr('width', width)
                .attr('height', height)
                .call(chart);
        return chart;
    });
</script>
<script>
    var boxplotdata = {{ boxplotdata|tojson|safe }};
    nv.addGraph(function() {
        var bpchart = nv.models.boxPlotChart()
            .x(function(d) { return d.label })
            .y(function(d) { return d.values.Q3 })
            .width(700)
            .staggerLabels(false)
            .maxBoxWidth(75) // prevent boxes from being incredibly wide 
            .yDomain([50, 100])

        bpchart.yAxis.axisLabel("อายุ").tickFormat(d3.format(',d'));

        d3.select('#chart1 svg')
            .datum(boxplotdata)
            .attr('width', 800)
            .attr('height', 400)
            .call(bpchart);

        nv.utils.windowResize(bpchart.update);
        return bpchart;
    });
</script>
<script>
    var bardata = [
            {
              key: "Cumulative Return",
              values: [
                { 
                  "label" : "A",
                  "value" : 29
                } , 
                { 
                  "label" : "B" , 
                  "value" : 10
                } , 
                { 
                  "label" : "C" , 
                  "value" : 34
                } , 
                { 
                  "label" : "D" , 
                  "value" : 45
                } , 
                { 
                  "label" : "E" ,
                  "value" : 12
                } , 
                { 
                  "label" : "F" , 
                  "value" : 30
                } , 
              ]
            }
        ];
    console.log(bardata);

    nv.addGraph(function() {
        var barchart = nv.models.discreteBarChart()
                    .x(function(d) { return d.label })
                    .y(function(d) { return d.value })
                    .width(600)
                    .height(400)
                    .staggerLabels(true)
                    .showValues(true);

        barchart.tooltip.enabled(true);

        d3.select('#chart2 svg')
            .datum(bardata)
            .attr('width', 600)
            .attr('height', 400)
            .call(barchart);

        nv.utils.windowResize(barchart.update);
        return barchart;
    });
</script>
{% endblock scripts %}

{% block page_content %}
<div class="container">
    <div class="page-header">
        <h1>กราฟแสดงผลต่างๆ จากฐานข้อมูล</h1>
    </div>
    <div class="row">
        <h3>จำนวนผู้สูงอายุแบ่งตามเพศ</h3>
        <div class="testBlock"><svg id="test1"></svg></div>
        <div class="testBlock"><svg id="test2"></svg></div>
    </div>
    <div class="row">
        <h3>ข้อมูลอายุแบ่งตามเพศ</h3>
        <div class="gallery" id="chart1"><svg></svg></div>
    </div>
    <div class="row">
        <h3>ผลตรวจทางสมอง</h3>
        <div class="gallery" id="chart2"><svg></svg></div>
    </div>
</div>
{% endblock page_content %}
